{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'entretien de la voiture {{ carMaintenance.Car.model }}{% endblock %}
{% block body %}
    <div style="margin-bottom: 40px;text-align:center;margin-bottom: 20px">
        <h1 >modifier l'entretien de voiture</h1>
    </div>
    <div class="form">
        {{form(form)}}
    </div>
{% endblock %}
