# Symfony
/var/
/vendor/
/.env.local
/.env.*.local
/public/build/

# Ignore the cache and logs
/var/cache/
/var/log/
/var/sessions/

# IDE files
/.idea/
/.vscode/
/*.iml

# Node modules (if applicable)
node_modules/

# Composer
/composer.lock

# Ignore temporary files
.DS_Store
Thumbs.db

# Ignore system files
*.swp
*.swo
/public/uploads

