.green { background-color: #28a745; } 
.blue-light { background-color: #17a2b8; } 
.orange { background-color: #fd7e14; } 
.yellow { background-color: #ffc107; } 
.cardflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.text-count{
    font-size: 20px;
    font-weight: bold;
}
.voir{
    font-size: 25px;
    transition: 2s;
    color: white;
}
.voir:hover{
    color: black;
}
.center{
    align-items: center;
}

.container-form{
    background-color: white;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                padding: 2rem;
                margin: 2rem auto; /* Marges en haut/bas et centrage horizontal */
                max-width: 800px;
}